{
  "openapi": "3.1.0",
  "info": {
    "title": "AlertyAI API",
    "description": "API specification for AlertyAI task and reminder workflows.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.alertyai.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tasks": {
      "get": {
        "description": "Returns all tasks available to the authenticated user.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of tasks to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task list response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new task.",
        "requestBody": {
          "description": "Task payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTask"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Task created response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{id}": {
      "delete": {
        "description": "Marks a task as completed based on the task ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of task to complete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Task completed",
            "content": {}
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/tasks/webhook": {
      "post": {
        "description": "Sends reminder delivery and task state events.",
        "requestBody": {
          "description": "Webhook event payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return 200 to acknowledge event receipt"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Task": {
        "required": [
          "id",
          "title"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique task ID",
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "description": "Task title",
            "type": "string"
          },
          "description": {
            "description": "Task details",
            "type": "string"
          },
          "dueAt": {
            "description": "ISO-8601 due timestamp",
            "type": "string"
          },
          "priority": {
            "description": "Task priority",
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ]
          },
          "status": {
            "description": "Current task status",
            "type": "string",
            "enum": [
              "pending",
              "completed"
            ]
          }
        }
      },
      "NewTask": {
        "required": [
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "description": "Task title",
            "type": "string"
          },
          "description": {
            "description": "Task details",
            "type": "string"
          },
          "dueAt": {
            "description": "ISO-8601 due timestamp",
            "type": "string"
          },
          "priority": {
            "description": "Task priority",
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ]
          }
        }
      },
      "TaskEvent": {
        "required": [
          "eventType",
          "taskId"
        ],
        "type": "object",
        "properties": {
          "eventType": {
            "type": "string",
            "enum": [
              "task.created",
              "task.completed",
              "reminder.sent"
            ]
          },
          "taskId": {
            "type": "integer",
            "format": "int64"
          },
          "occurredAt": {
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
